In [2]:
!python -m pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\giganigga\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\giganigga\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)

In [3]:
import pandas as pd

customers = pd.read_excel("../data/customers.csv.xlsx")
products  = pd.read_excel("../data/products.csv.xlsx")
orders    = pd.read_excel("../data/orders.csv.xlsx")

customers.head()

   customer_id  customer_name  gender  age       city signup_date
0            1    Amit Sharma    Male   28    Chennai  2023-01-15
1            2    Priya Singh  Female   32  Bangalore  2023-02-10
2            3    Rahul Verma    Male   25      Delhi  2023-03-05
3            4     Anjali Rao  Female   29  Hyderabad  2023-01-25
4            5  Karthik Kumar    Male   35    Chennai  2023-04-12

In [4]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    8 non-null      int64
 1   customer_name  8 non-null      object
 2   gender         8 non-null      object
 3   age            8 non-null      int64
 4   city           8 non-null      object
 5   signup_date    8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 516.0+ bytes

In [10]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    6 non-null      int64
 1   product_name  6 non-null      object
 2   category      6 non-null      object
 3   price         6 non-null      int64
dtypes: int64(2), object(2)
memory usage: 324.0+ bytes

In [6]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      10 non-null     int64
 1   customer_id   10 non-null     int64
 2   product_id    10 non-null     int64
 3   order_date    10 non-null     datetime64[ns]
 4   quantity      10 non-null     int64
 5   payment_mode  10 non-null     object
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 612.0+ bytes

In [7]:
customers['signup_date'] = pd.to_datetime(customers['signup_date'])
orders['order_date'] = pd.to_datetime(orders['order_date'])

In [8]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    8 non-null      int64
 1   customer_name  8 non-null      object
 2   gender         8 non-null      object
 3   age            8 non-null      int64
 4   city           8 non-null      object
 5   signup_date    8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 516.0+ bytes

In [9]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      10 non-null     int64
 1   customer_id   10 non-null     int64
 2   product_id    10 non-null     int64
 3   order_date    10 non-null     datetime64[ns]
 4   quantity      10 non-null     int64
 5   payment_mode  10 non-null     object
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 612.0+ bytes

In [11]:
orders.head()

   order_id  customer_id  product_id order_date  quantity payment_mode
0      1001            1         101 2023-05-10         1  Credit Card
1      1002            2         102 2023-05-12         2          UPI
2      1003            3         103 2023-05-15         3   Debit Card
3      1004            4         104 2023-05-18         1  Net Banking
4      1005            5         105 2023-05-20         2          UPI

In [1]:
import pandas as pd

customers = pd.read_excel("../data/customers.csv.xlsx")
products  = pd.read_excel("../data/products.csv.xlsx")
orders    = pd.read_excel("../data/orders.csv.xlsx")

In [2]:
customers['signup_date'] = pd.to_datetime(customers['signup_date'])
orders['order_date'] = pd.to_datetime(orders['order_date'])

In [3]:
customers.to_csv("customers_cleaned.csv", index=False)
products.to_csv("products_cleaned.csv", index=False)
orders.to_csv("orders_cleaned.csv", index=False)